extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1= user.name
          h3= user.tagline
    .row
      .col-xs-3
      .col-xs-6
        table.table#message
          tr
            td Message From: #{message.from}
          tr
            td Date: #{moment(message.date).format('MM/DD/YYYY')}
            td Time: #{moment(message.date).fromNow()}
          tr
            td #{message.body}
